<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glam test</title>
</head>
<body>

  <header class="header">
    <h1>Glam Software test</h1>
    <nav>
      <ul>
        <li><a routerLink="/tasks">Llistat de tasques</a></li>
        <li><a routerLink="/form">Formulari de tasques</a></li>
        <li><a routerLink="/time">Llistat de temps</a></li>
      </ul>
    </nav>
  </header>

  <router-outlet></router-outlet>

</body>
</html>
